* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
}

.bg-dark {
    background-color: #16191c !important;
}

.bg-dark-x {
    background-color: #1e2126 !important;
}

.c-imgL {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.c-itemL {
    height: 100vh;
}

.textP {
    margin-top: 50%;
    font-size: 25px;
}

.textH2 {
    font-size: 70px;
}

.form-control,
.btn,
.form-select {
    color: white !important;
    min-height: 3.125rem;
    line-height: initial;
}

#logo {
    width: 170px;
    height: 90px;
}

#logoR {
    width: 90px;
    height: 80px;
}

.info {
    margin-left: 20px;
}

.carouselR {
    height: 1150px;
}

h1, label, p {
    color: white;
}

.registrarse {
    padding: 10px;
    font-size: 40px;
    color: #1b6bc2;
}
