body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

#logo {
    width: 65px;
    height: 65px;
    margin-left: 10px;
}

#service {
    color: #1b6bc2;
    font-size: 30px;
    font-weight: bold;
}
