
@{
    ViewBag.Title = "PQR";
    Layout = "~/Views/Shared/Layout_U.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/PQR.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container containerPQR">
            <div class="contact-box drop">
                <div class="left2"></div>
                <div class="right">
                    <h2 id="tituloPQR">Preguntas, quejas y reclamos</h2>
                    <form>
                        <input type="text" class="field" placeholder="Ingresa tu nombre completo" required />
                        <select class="field" required>
                            <option selected disabled value="">Tipo de documento</option>
                            <option>Cédula de ciudadanía</option>
                            <option>Cédula de extranjería</option>
                            <option>Pasaporte</option>
                        </select>
                        <input type="text" class="field" placeholder="Ingresa tu número de documento" required />
                        <input type="email" class="field" placeholder="¿A qué correo electrónico podemos comunicarnos?" required />
                        <input type="text" class="field" placeholder="Ingresa tu número de celular" required>
                        <select class="field" required>
                            <option selected disabled value="">¿Qué tipo de solicitud vas a radicar?</option>
                            <option>Petición</option>
                            <option>Queja</option>
                            <option>sugerencia</option>
                            <option>Felicitación</option>
                        </select>
                        <textarea class="field area" placeholder="Escriba su solicitud" required></textarea>
                        <button class="btnPQR" type="submit">Enviar</button>
                        <a href="@Url.Action("IndexUsuarios", "Servicios")" class="btn btnPQR">Volver al inicio</a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>

