@model _SERVICE_MARKET_.Models.Servicio

@{
    ViewBag.Title = "Publicar Solicitud";
    Layout = "~/Views/Shared/Layout_C.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Service Market</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Publicar.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container containerP">
            <div class="contact-box drop">
                <div class="left3"></div>
                <div class="right">
                    <h2 id="tituloP">Nueva solicitud</h2>
                    <form action="@Url.Action("PublicarSolicitud","Servicios")" method="post">
                        <input type="text" class="field" placeholder="Escriba el nombre de la solicitud" name="NOMBRE_SER" required />
                        <input type="number" class="field" placeholder="Digite el precio a pagar" name="PRECIO_SER" required />
                        <textarea class="field area" placeholder="Escriba una descripción breve sobre el servicio solicitado" name="DESCRIPCION_BREVE" required></textarea>
                        <textarea class="field area" placeholder="Escriba los términos y condiciones para el prestador de servicios" name="TERMINOS_SER" required></textarea>
                        <select class="field" name="ID_CATEGORIA_FK" required>
                            <option selected disabled>Categoría</option>
                            <option value="1">Mantenimiento</option>
                            <option value="2">Trabajos domésticos</option>
                            <option value="3">Remodelación y Albañilería</option>
                            <option value="4">Salud y belleza</option>
                        </select>
                        <input type="text" class="field" name="TIPO" value="Solicitud" required />
                        <button class="btnP" type="submit">Publicar</button>
                        <a href="@Url.Action("ServiciosDisponiblesCliente","Servicios")" class="btn btnP">Cancelar</a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>