
@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="shortcut icon" href="~/Logos/logo.png" />
    <link href="~/Content/Css/Acceso.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&display=swap" rel="stylesheet">
</head>

<body class="bg-dark">
    <section class="row g-0">
        <div class="px-lg-5 pt-lg-4 pb-lg-3 p-2">
            <img id="logo" src="~/Logos/logo derecha.png" class="img-fluid">
        </div>
        <h1 class="font-weight-bold mb-3" align="center" style="color:white;">Registrarse</h1>
        <form action="@Url.Action("Registrar","Acceso")" method="post" autocomplete="off">
            
        </form>
    </section>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/all.min.js"></script>
</body>
</html>

